.card {

    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 60px) / 3);
    padding: 10px 20px;
}

.imgBox {

    width: 200px;
    height: 300px;
}

.imgBox img {

    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.detailsBox * {

    margin-bottom: 10px;
}

.detailsBox span {

    font-weight: bold;
}