.card {

    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.imgBox {

    width: 100px;
    height: 150px;
}

.imgBox img {

    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.detailsBox {

    text-align: center;
}