:root {

    --padding-x: 100px;
}

/******** 
reset 
********/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** 
Common 
********/

/******** 
Pages 
********/

/**** HomePage ****/
.home-page-box {

    padding: 20px var(--padding-x);
}

.movies-box {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/**** MovieDetails ****/
.movie-det-container {

    padding: 20px var(--padding-x);
}

.movie-det-container hr {

    margin-bottom: 20px;
}

.heading-reviews {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.heading-reviews p {

    font-size: 1.25rem;
}


/******** 
Components 
********/