/******** 
reset 
********/
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******** 
Common 
********/

/* movie card */
.card {

    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.imgbox {

    width: 180px;
    height: 180px;
}

.img-box {

    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.details-box {

    text-align: center;
}

/******** 
Pages 
********/

/**** HomePage ****/
.movies-box {

    display: flex;
    flex-wrap: wrap;
}

/**** MovieDetails ****/
.box-det {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.movie-box-det {

    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 30%;
}

.movie-box-det p {
    
    text-wrap: wrap;
}


/******** 
Components 
********/

/**** Header ****/
header {

    background-color: #ffe4c4;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}